*{ margin:0;padding:0;}
body,html{width:100%;height:100%;}
#content{
    width:90%;height:100%;margin:auto;
}
.warn{width:100%;height:100%;}
ul.warn-list li{
    list-style: none;
    width:100%;
    position:relative;
    margin-bottom:10px;
    color:#323a4f;
}
.warnTitle{
    width: 100%;
    height: 40px;
    line-height:40px;
    padding-left: 10px;
    position:relative;
    color:#31223c;
}
.warnUl{
    width:100%;height: calc( 100% - 40px);
    border-top: 2px solid #e4e7ee;
    font-size:12px;
}
.warn-list{padding: 15px 20px;max-height:100%;overflow-y:scroll;position:relative;}
.li-span{
    display: flex;
    margin-left:25px;
    height:50px;
    text-align:center;
    line-height:50px;
    background: url(libg.png) no-repeat;
    background-size:100% 100%;
}
.li-flex{flex:1;}
.warn-list>li .warn-circe:before {
    /*流程点的样式*/
    content: '';
    background-color: #e7e7e7;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-left: -9px;
    float:left;
    position:absolute;
    top:18px;
} 
.warn-circe {
    height: 60px;
    border-left: 2px solid #ead3e8;
    position: absolute;
    left: 0;
}
.warn-duration span,.warn-red .warn-leave span{color:#e34e8b;}
.warn-yellow .warn-leave span{color:#e29643;}
.warn-blue .warn-leave span{color:#2242b0;}
li.warn-red .warn-circe:before{background:linear-gradient(#f1c3c0, #f97072);}
li.warn-yellow .warn-circe:before{ background:linear-gradient(#f3e19c, #fdca2e);}
li.warn-blue .warn-circe:before{background:linear-gradient(#c3e3f9, #70dafd);}
.warn-list>li:first-child .warn-circe{height:43px;bottom:-10px;}
.warn-list>li:first-child .warn-circe:before {top:0;} 
.warn-time span{color:#412c46;}
.warn-close{
    position: absolute;
    top: 0;
    right: 30px;
}